.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;

    h1 {
        font-size: 5rem;
        font-weight: 700;
        color: #fff;
        text-align: center;
        margin-bottom: 1rem;

        background: rgb(246, 191, 117);
        background: linear-gradient(45deg, rgba(246, 191, 117, 1) 0%, rgba(215, 113, 133, 1) 33%, rgba(135, 102, 172, 1) 67%, rgba(65, 80, 177, 1) 100%);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        background-size: 500%;

        animation: background-animation 10s ease-in-out infinite;

        @keyframes background-animation {
            0% {
                background-position: 0% 50%;
            }

            50% {
                background-position: 100% 50%;
            }

            100% {
                background-position: 0% 50%;
            }
        }
    }

    p {
        font-size: 2rem;
        font-weight: 400;
        color: #fff;
        margin-bottom: 1rem;
    }

    @media (min-width: 1024px) {
        justify-content: space-between;
        align-items: flex-start;
        margin: 4rem 0;

        h1 {
            font-size: 7rem;
        }

        p {
            font-size: 2.5rem;
        }
    }
}

.product-carousel {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-content: center;
    margin: 0 auto;

    app-carousel {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;

        grid-row: 1 / 1;
        grid-column: 1 / 1;
    }

    .caption {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        height: 100%;
        padding: 2rem;
        text-align: right;
        flex-shrink: 1;
        z-index: 2;

        grid-row: 1 / 1;
        grid-column: 1 / 1;
        justify-self: end;

        background: linear-gradient(to right, transparent, black);

        h2 {
            font-size: 2.5rem;
            font-weight: 700;
            color: #fff;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1rem;
            font-weight: 400;
            color: #fff;
            margin-bottom: 1rem;
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
            font-weight: lighter;
            color: #fff;
            margin-bottom: 1rem;
            text-decoration: none;
            background: rgb(246, 191, 117);
            /* Fondo degradado de respaldo para navegadores que no admiten degradados */
            background: linear-gradient(45deg, rgba(246, 191, 117, 1) 0%, rgba(215, 113, 133, 1) 33%, rgba(135, 102, 172, 1) 67%, rgba(65, 80, 177, 1) 100%);
            border-radius: 1rem;
            padding: 1rem 2rem;

        }

        a {
            position: relative;
            overflow: hidden;
            height: 2rem;
            border-radius: 1.5rem;
            color: #fff;
            border: none;

            &:hover::before {
                transform: scaleX(1);
            }

            span {
                position: relative;
                z-index: 1;
                filter: drop-shadow(0 0 1px azure);
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                transform: scaleX(0);
                transform-origin: 0 50%;
                width: 100%;
                height: inherit;
                border-radius: inherit;
                background: linear-gradient(82.3deg,
                        rgba(150, 93, 233, 1) 10.8%,
                        rgba(99, 88, 238, 1) 94.3%);
                transition: all 0.475s;
                background: rgb(246, 191, 117);
                /* Fondo degradado de respaldo para navegadores que no admiten degradados */
                background: linear-gradient(45deg, rgba(65, 80, 177, 1) 0%, rgba(135, 102, 172, 1) 33%, rgba(215, 113, 133, 1) 67%, rgba(246, 191, 117, 1) 100%);

            }
        }

        @media (min-width: 1024px) {
            padding: 6rem 10rem;
            h2 {
                font-size: 4rem;
            }
            p {
                font-size: 2rem;
            }
            a {
                font-size: 2rem;
                height: 3rem;
            }
        }
    }

    .transparent-black-gradient {
        width: 100%;
        height: 100%;
        grid-row: 1 / 1;
        grid-column: 1 / 1;
        z-index: 3;

        background: rgb(246, 191, 117);
        /* Fondo degradado de respaldo para navegadores que no admiten degradados */
        background: linear-gradient(45deg, rgba(246, 191, 117, 1) 0%, rgba(215, 113, 133, 1) 33%, rgba(135, 102, 172, 1) 67%, rgba(65, 80, 177, 1) 100%);
        opacity: 0.5;
    }

    @media (min-width: 1024px) {
        flex-direction: row;
        gap: 2rem;
        padding: 2rem;

        div {
            /*             width: 30%;
            text-align: left;
            align-items: flex-start; */

            h2 {
                font-size: 4rem;
            }

            p {
                font-size: 2.5rem;
            }
        }
    }
}

.ilustration {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    gap: 1rem;

    img {
        width: 100%;
        max-width: 400px;
        aspect-ratio: 1/1;
        background-color: grey;
        border-radius: 40px;
    }

    div {
        width: 30%;
        text-align: left;

        h2 {
            font-size: 4rem;
        }

        p {
            font-size: 2.5rem;
        }
    }
}